body {
	padding-top: 65px;
}

.search-results {
	display: block;
	margin: auto;
	width: 60%;
}

.valign {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*border: 1px dashed deeppink;*/
}

.result-bar {
	margin-bottom: 25px;
}

.result-bar-address,
result-bar-name {
	
	background: #bce8f1;
	
	font-size: 16px;
	padding: 5px;
	
}

.search-heading {
	margin-top: 3px;
}

.proximity {
	text-align: right;
	margin-top: 15px;
}

@media (max-width: 480px) {
	body {
		
	}
	.form-control {
		width: 300px;
	}
	h1 {
		font-size: 28px;
	}
	.container {
		width: 400px;
	}
	.search-results {
		display: block;
		margin: auto;
		width: 100%;
	}
	.proximity {
		text-align: left;
		margin-top: 10px;
	}
}
